/* .main{
    min-height: 90vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
}
.container {
    background-color: rgb(17 24 39);
    color: rgb(241 245 249);
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }